<div class="jumbotron">
  <h1 *ngIf="!auth.isLoggedIn()" class="display-4">Hello there!</h1>
  <h1 *ngIf="auth.isLoggedIn()" class="display-4">Hello <strong>{{auth.getUserDetails().name}}!</strong></h1>
  <p class="lead">Welcome to the best blog ever! </p>
  <hr class="my-4">
  <p>It's just an example of how <strong>MEAN</strong> Stack works. </p>
  <p>MEAN stands for MongoDB, Express, Angular and NodeJS</p>
  <p *ngIf="!auth.isLoggedIn()"><a routerLink="/auth/login">Login</a> or <a routerLink="/auth/register" >Register</a></p>
  <p *ngIf="auth.isLoggedIn()"><button class="btn btn-primary" routerLink="/blog">Go To Blog</button></p>
</div>
